/* 
    this .css file is used to customize the look of my
    webpage by changing the colors of the text and background, line height,
    aligning my title to the center of the page, and changing the font size, weight, and type.
    the header semantic element edits my title and sub title.
*/

header{
    color:rgb(92, 10, 245);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(20, 170, 255, 0.22);; 
}

/* h1 edits my main title text*/

h1{
    font-size: 3em;
}

/* h4 edits my subtitle text*/

h4{
    font-size: 1.5em;
}

/* body edits the entire webpage */

body{
    background-color:rgba(10, 182, 245, 0.35); 
    max-width: 960;
}

/* h3 edits my sub headers(about me, interest, and goals) */

h3{
    color:rgb(100, 10, 245);
    font-size: 1.4em;
    font-weight:bolder;
}

/* the "main" semantic element edits the majority of the text on my page underneath the sub headers */

main{
    color:rgb(41, 86, 235);
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif;
}
/* the div "interest" edits the words "Fitness Videogames and Music" in the interest section to make them stand out. */

.interest{
    
    font-size: 1.3em;
    text-decoration-line: underline;
    font-style: italic;
    color:rgb(6, 68, 161);
}

/* the div "goallist" edits the list on my goals section */

.goallist{
    color:rgb(6, 68, 161);
    font: 1.3em Arial, Helvetica, sans-serif;
    font-weight:500
}

/*The nscc class edits the link to Northweststate.edu within my span*/

#nscc{
    font-weight:bold
}

/* the footer semantic element edits my two hyperlinks and copyright tag */

footer{
    text-align: center; 
    font-size: 1.15em;
    font-weight:bold
}