/* 
    this .css file is used to customize the look of my
    webpage by changing the colors of the text and background, line height,
    aligning my title to the center of the page, and changing the font size, weight, and type.
    "header" edits my title and sub title.
*/

header{
    color:rgb(96, 0, 252) ;
    text-align: center;
    font-size: 2.55em;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 2em;
    background-color: rgb(102, 247, 216); 
}

/* h3 edits my sub headers(about me, interest, and goals) */

h3{
    color:rgb(115, 58, 221);
    font: 1.7em 'Courier New', Courier, monospace;
    font-weight:600
}

/* the "maintext" class edits the majority of the text on my page underneath the sub headers */

.maintext{
    color:rgb(0, 0, 255) ;
    font-size: 1.2em;
    font-weight: 500 ;
    font-family: 'Times New Roman', Times, serif;
}

/* the id interest edits the words "fitness and videogames" in the interest section to make them stand out. */

#interest{
    color:rgb(98, 10, 231);
    font-size:1.25em;
    text-decoration-line: underline;
}

/* ul edits the list on my interest section */

ul{
    color:rgb(89, 0, 255) ;
    font: 1.3em 'Times New Roman', Times, serif, bold  ;
    font-weight:500
}

/* html edits the entire webpage */

html{
    background-color:rgba(102, 247, 216, 0.74);
}

/* "footer" edits my two hyperlinks and copyright tag */

footer{
    text-align: center; 
    font-size: 1.15em;
    font-weight:bold
}